.bola1 {
  width: 200px;
  height: 200px;
  
  border-radius: 50%;
  
  background-color: $redColor;
  
  a {
    color: $redColor;
  }
}
  
.bola2 {
  width: 200px;
  height: 200px;
  
  border-radius: 50%;
  
  background-color: $greenColor;
  
  a {
    color: $greenColor;
  }
}
  
.bola3 {
  width: 200px;
  height: 200px;
  
  border-radius: 50%;
  
  background-color: $blueColor;
  
  a {
    color: $blueColor;
  }
}